/* line 154, ../../scss/grid/lib/_logic.scss */
.container {
  width: 960px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  /* line 159, ../../scss/grid/lib/_logic.scss */
  .container {
    width: 100% !important; } }
/* line 164, ../../scss/grid/lib/_logic.scss */
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container:before, .container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

/* line 165, ../../scss/grid/lib/_logic.scss */
.clearfix:after, .container_12:after, .container:after {
  clear: both; }

/* line 166, ../../scss/grid/lib/_logic.scss */
.clearfix, .container_12, .container {
  zoom: 1; }
