/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
// body, select, input, textarea {color: #333;}

// a {color: #03f;}
// a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}



/* And here begins the Wordpress fun.
-------------------------------------------------------------------------------*/

* {
	// -moz-box-sizing: border-box;
	// -webkit-box-sizing: border-box;
	// box-sizing: border-box; //used to allow padding without effecting previously defined widths
	// background-repeat: no-repeat;
	// position: relative;
	// vertical-align: middle;
}

@import 'grid.less';
@import 'elements.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Uncomment the definition below for a percentage-based layout
// @total-width: 100%;


.aside1 {
	.column(2);
}

.grid-main {
	.column(9);
	.director-bio {
		.row(9);
		width: 700px;
		margin: 0;
		img {
			// .columns(3,9);
		}
	}

}

.director-bio p {
	// .columns(6);
	margin-bottom: 1em;
	margin-left: 232px;
}

.home-grid {
	.column(12);
	// .center;
}



//////////////////////
// COLORS
//////////////////////
@bg-body:        	#292c2c;
@bg-page:        	#1c1c1c;
@body-text:      	#ffffff;
@hl-text:        	#80a9ae;
@main-menu-color:	#c2fffa;
@sub-menu-color: 	#28545a;
@link-color:     	#24dac3;
@switch-text-color: #348a83;
@border-color:		#29484c;
@dark-text:   		#417379;



//////////////////////
// Fonts
//////////////////////
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light-webfont.eot');
    src: url('../fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Light-webfont.woff') format('woff'),
         url('../fonts/Lato-Light-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Light-webfont.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoHairline';
    src: url('../fonts/Lato-Hairline-webfont.eot');
    src: url('../fonts/Lato-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Hairline-webfont.woff') format('woff'),
         url('../fonts/Lato-Hairline-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Hairline-webfont.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('../fonts/modernpics-webfont.eot');
    src: url('../fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/modernpics-webfont.woff') format('woff'),
         url('../fonts/modernpics-webfont.ttf') format('truetype'),
         url('../fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold-webfont.woff') format('woff'),
         url('../fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Bold-webfont.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.body-n (@size:1em, @lh:1.5em, @font: Lato ) {
	font-family: @font, 'LatoRegular', Times, sans-serif;
	font-weight: 400;
	color: @body-text;
	font-size: @size;
	line-height: @lh;
}

.body-b (@size:1em, @lh:1.5em, @font: Lato ) {
	font-family: @font, 'LatoBold', Times, sans-serif;
	font-weight: 700;
	color: @body-text;
	font-size: @size;
	line-height: @lh;
}

.body-l (@size:1em, @lh:1.5em, @font: LatoLight ) {
	font-family: @font, 'LatoLight', Times, sans-serif;
	// font-family: @font, Times, sans-serif;
	font-weight: 300;
	color: @body-text;
	font-size: @size;
	line-height: @lh;
}

.body-ul (@size:1em, @lh:1.5em, @font: LatoHairline ) {
	font-family: @font, 'LatoHairline', Times, sans-serif;
	font-weight: 100;
	color: @body-text;
	font-size: @size;
	line-height: @lh;
}

h3 {
	.body-l(28px);
	color: @dark-text;
}

//////////////////////
// UTILITIES
//////////////////////

.center {margin: 0 auto;}
.inline {float: left;}
.stroke {
	border-bottom: 1px dotted #69959B;
	border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
}

a {
	color: @hl-text;
	&:hover {color: @body-text;}
}

@-webkit-keyframes page-fade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: @bg-body;
	.body-n;
	height:100%;
}

#page-bg {
	background: url(../images/bg-full1.png) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	// filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lib/images/bg-full1.png', sizingMethod='scale');
	// -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/lib/images/bg-full1.png', sizingMethod='scale')";
	// background: @bg-page url('/lib/images/bg-full1.png') left top no-repeat;
	// width: 1100px;
	min-height: 1500px;
	// height: 100%;
	position: relative;
	.center;
}

#page-wrap {
	// background: @bg-page url('/lib/images/bg-full.png') left top repeat-x;
	width: 960px;
	height: 100%;
	// position: relative;
	margin: 0 auto;
}

.logo {
	background:transparent url('../images/logo.png') left top no-repeat;
	width: 263px;
	height: 215px;
	display: block;
	text-indent: -9999px;
	margin-left: -70px;
	// float: left;
	position: absolute;
	z-index:1;
}

.icon:after {
	font-family: ModernPictogramsNormal;
	margin-left: 9px;
}

.icon-arrow:after { content: "/"; }


nav[role=navigation] {

	// level one
	padding-top: 75px;
	height: 54px;
	// position: relative;
	margin-bottom: 40px;

	ul.dropdown {
		float: right;
		margin-right: 30px;

	}

	ul li {
		.inline;
		border-right: 1px solid #3a3a3a;
		width: auto;
		zoom: 1;
	}

	ul li:last-child {
		border: none;
		a { padding-right: 0;}
	}


	ul li:first-child:hover, .hover {
		// background:#c2fffa;
		// border-right: none;
		// border-right: 1px solid #c2fffa;
		color: @main-menu-color;
	}


	a {
		.body-b(17px);
	    height: 17px;
	    padding: 18px 24px 19px;
		display: block;
		text-decoration: none;
		opacity: .9999; //fixes the webkit rollover extra pixel bug
		// width: 100%;
		// &.menu-arrow {
		//	background: url('../images/menu-sprite.png') no-repeat;
		//	height: 7px;
		//	width: 10px;
		// }
		&:last-child {
			// padding-right: 0;
		}
	}

	a:hover, .hover a, .current_page_item a, .current_page_parent a {
		color: @main-menu-color;
	}

	// Level two
	ul ul.children {
		display: none;
		// visibility: hidden;
		position: absolute;
		// width: 200px;
		// top: 100%;
		// left: 0;
		// text-transform: uppercase;
		z-index: 10;
		// text-align: right;



		li {
		   // -moz-box-shadow:    inset 0 0 10px #000000;
		   // -webkit-box-shadow: inset 0 0 10px #000000;
		   // box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333;
			background:#c2fffa;
			border-right: none;
			border-right: 1px solid #c2fffa;
			// padding: 7px 0 10px;
			float: none;
			border-bottom: 1px dotted #70b2ad;
				// margin: 0 10px;

			// width: 146px;
			a {
				.body-l(15px);
				color: @sub-menu-color;
				display: inline-block;
				// width: 85%;
				// margin-right: 22px;
				padding: 8px 25px 11px;
				// margin: 0 10px;

			}

		}
		li:hover {
			background:#fff;
		}
	}
}


article h2, .director-list, .error {
	.body-l(32px);
	text-align: right;
	.stroke;
	padding-bottom: 8px;
	margin-bottom: 20px;
}

.error {
	text-align: left;
}

article h3 {
	margin-top: 28px;
}

ul.director-list {
	padding-bottom: 50px;
	a {
		color: @dark-text;
		text-decoration: none;
		&:hover {text-decoration: underline;
			color: #80A9AE;}
	}
}

.director-list {
	font-size: 28px;
}


.director-switcher {
	// text-align: right;
	float: left;
	margin-top: -60px;
	margin-bottom: 20px;
	z-index: 1;
	li {
		display: inline;
		padding-left: 10px;
		text-decoration: none;
		.body-l(16px);
		text-transform: uppercase;
		padding: 6px 7px;
		cursor: pointer;
		&:hover {color: @switch-text-color;}
		&.on {
			.rounded(4px);
			background-color: @main-menu-color;
			color: @switch-text-color;
		}
	}
}

.director-work {
	// padding-top: 25px;
	text-align: center;
}

.director-bio {
	.stroke;
	padding-bottom: 50px;
	min-height: 150px;
	img {
		float: left;
		margin: 6px 40px 20px 25px;
	}
	p {
		padding-right: 25px;
		.body-l(14px);
		line-height: 1.5em;
	}
}

.director {
	display: none;
	-webkit-animation-name: page-fade;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}

.work .director-work {
	display: block;
}

.work .director-bio {display: none;}

.bio .director-bio {
	display: block;
}

.bio .director-work {display: none;}



.home-footer {
	ul {
		float: right;
		margin-top: 20px;
		margin-right: 20px;

	}
	li {
		.inline;
		height: 25px;
		text-transform: uppercase;
		.body-l(13px);
		padding: 7px 16px 0;
		border-right: 1px solid rgba(255,255,255,0.05);
		&:last-child {
			border:none;
			padding-right: 0;
		}
		&:first-child {
			padding-left: 0;
		}
	}
	a {
		.opacity(.61);
		color: @hl-text;
		text-decoration: none;
		&:hover {.opacity(1);
			text-decoration: underline;}
	}

}

.footer {
	text-transform: uppercase;
	.body-l(10px);
	color: @hl-text;
	.opacity(.61);
	text-align: center;
	letter-spacing: 0.1em;
	margin-top: 50px;
}


div.contact {
	.column(9);
	.addresses {
		.row(9);
		.atl, .pho, .la {.column(3,9);}
	}
	h4, p, a {
		text-align: left;
		.body-ul (14px);
		color: @hl-text;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		text-decoration: none;
	}

	a { letter-spacing: normal;}

	h4 {
		margin-bottom: 0.25em;
	}

	p, a {
		line-height: 1.5em;
		font-size: 12px;
	}
	.num {
		margin-top: 4em;
		// .column(12);
		// text-align: center;
		// margin: 30px 0 0 50px;

	}
}

.contact-us, .about-us {
	.stroke;
}
.map {
	float: left;
	margin: 0 0 40px 30px;
	z-index: 1;
	min-height: 350px;
	.atl {margin-top: 24px;}
	.body-l(14px);
	// iframe {border:2px solid #3b8690;}
	.address {
		margin-bottom: 20px;
	}
}

.contact-form {
	float: left;
	margin: 0 0 40px 40px;
	p {
		.body-l(12px, 1.9em);
		text-transform: uppercase;
		margin-bottom: 10px;
		// padding-bottom: 10px;
		// line-height: 24px;
		// margin-top: 10px;
		&:first-child {line-height: 1em;}

	}
	input, textarea {
		width: 310px;
		background:#45686d;
		border:none;
		.rounded(4px);
		padding-bottom: 0;
		color: #fff;
	}
	input {
		height: 25px;
	}
	min-height: 350px;
	z-index: 50;
	input[type=submit] {
		width: 87px;
		padding: 11px 0;
		text-transform: uppercase;
		.body-l(12px);
		border: 1px solid #1b2a2c;
		// background-color: #274e54;
		letter-spacing: 0.160em;
		.gradient(#274e54,#1c393d,#5b797d);
		margin-top: 13px;
		height: 35px;
	}
	div.wpcf7-validation-errors {
		border: 2px solid #F7E700;
		width: 260px;
	}
	span.wpcf7-not-valid-tip {
		color: #222;
		text-transform: none;
	}

}

.about-us {
	ul {
		float: left;
		margin: 5px 20px 0 30px;
		li {margin-bottom: 21px;}
		width: 200px;
		// img {border: 1px solid @border-color;}
	}
	.about {
		.body-l(14px);
		line-height: 1.5em;
		margin: 0 25px 30px;
		p {margin-bottom: 1em;}
	}
}



.clients {
	.columns(183px,3,38px,#fff,none,0);
	margin-top: 30px;
	.body-l(12px,1.8em);
	padding-bottom: 70px;
	.stroke;
}

.featured {
	text-transform: uppercase;
	.body-b (12px);
	// letter-spacing: 0.1em;
	color: @dark-text;
	// border-bottom: 1px dotted #69959b;
	padding-bottom: 20px;
	// margin: 0 5%;
	ul {
		margin: 20px 5% 0;
		li {float: left;}
		a {
			color: #24dac3;
		}
	}
	p {margin: 0 5%;}
}

article .featured {
	.stroke;
}

.director-dropdown-label {
	margin-top: -63px;
	float: left;
	li {
		float: left;
		margin-right: 12px;
		width: auto;
		&.current-director {
			border: 1px solid #2a4e50;
			.rounded (4px);
			padding: 7px 11px 5px;
			margin-top: -7px;
			color: @main-menu-color;
			&:hover {
				cursor: pointer;
				color: #fff;
				// border-color: rgba(255,255,255,0);
				border-color: #888;
			}
		}


	// Level two
		ul {
			display: none;
			position: absolute;
			// text-transform: uppercase;
			z-index: 10;
			// margin-left: -23px;
			margin: 7px 0 0 -12px;
			li {
				background:#c2fffa;
				border-right: none;
				border-right: 1px solid #c2fffa;
				border-bottom: 1px dotted #70b2ad;
				.body-l(15px);
				color: @sub-menu-color;
				// display: inline-block;
				float: none;
				padding: 8px 25px 11px;
				width: auto;
				&:hover {background-color: #FFF;}
			}
		}
	}


}


.director-name {
	padding: 0 5%;
}

// .social-nav {
//	float: right;
//	z-index: 120;
//	color: #fff;
//	height: 30px;
//	li {float: left;
//		height: 20px;}
// }

///////////////////////////////////  coming soon styles ////////////////////


// header {
//	position: relative;
// }
// div.main {
//		text-align: center;
//	h1 {
//		.body-ul (42px);
//		line-height: 1.7em;
//	}

//	h2 {
//		.body-l (1.3em);
//	}

// }

// div.contact {
	// margin:100px 0 0 152px;
// }

ul.social-nav {
	list-style: none;
	display:block;
	float: right;
	margin-right: 30px;
}

ul.social-nav li, .social-cu li {
	display: inline;
	float: left;
}

a.twitter, a.facebook {
	margin:30px 0 0 10px;
	width: 21px;
	height:20px;
	display: block;
	text-indent: -9999px;
	height: 22px;
	z-index: 500;
}


a.twitter {
	background: url(../images/social.png) -2px -2px no-repeat;
	&:hover {
		background: url(../images/social.png) -2px -42px no-repeat;
	}
}


a.facebook {
	background: url(../images/social.png) -42px -2px no-repeat;
	&:hover {
		background: url(../images/social.png) -42px -42px no-repeat;
	}
}

.social-cu {
	margin: 0 12%;
}

.twitter-cu, .facebook-cu {
	margin:30px 0 0 0;
	width: 116px;
	height:116px;
	display: block;
	text-indent: -9999px;
}

a.twitter-cu {
	background: url(../images/social.png) -1px -73px no-repeat;
	&:hover {
		background: url(../images/social.png) -1px -189px no-repeat;

	}
}

a.facebook-cu {
	background: url(../images/social.png) -131px -73px no-repeat;
	&:hover {
		background: url(../images/social.png) -131px -189px no-repeat;
	}
}

















.post {}

.entry-content {}
.entry-content a {}
.entry-content a:hover {}

#meta {}
.postmetadata {}

#sidebar {}

.navgation {}
.next-posts {}
.prev-posts {}

#searchform {}
#s {}
#searchsubmt {}

ol.commentlist {list-style: none;}
ol.commentlist li {}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {border-bottom: 1px dotted #666; padding: 10px;}
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 10px 10px;}
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment p {}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 10px 0 0;}
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 {border-left: 5px solid #555; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 5px solid #999; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 5px solid #bbb; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {background: #fff;}
ol.commentlist li.odd {background: #f6f6f6;}
ol.commentlist li.parent {border-left: 5px solid #111;}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


}

@media all and (orientation: portrait) {

}

@media all and (orientation: landscape) {

}











