/*
Theme Name: Fizz City Films (Responsive)
Theme URI: http://fizzcityfilms.com
Description:
Author: Ben Bowen
Author URI: http://scottsawyerconsulting.com
Version: 1.0
*/

/*@import "lib/css/html5.css"; */
/*@import "lib/css/style.css"; */
@import "lib/css/layout.css";

* {
	font-family: "brandon-grotesque", arial;
}
body {
  margin: 0;
  padding: 0;
  background: url("/site-content/uploads/new_bg.jpg") no-repeat top center fixed;
  background-size: cover; }

.home-featured img {
    max-width: 295px;
    max-height: 181px;
}

@media (min-width: 56.25em) {
    .left-header {
      width: 40% !important;
      } }
@media (min-width: 56.25em) {
    .right-header {
      width: 60% !important;
      } }
@media (max-width:48em) {
	#menu-main-menu {
		margin:0;
		padding:0;
	}
	header .main-nav li {
			float:none;
			text-align:center;
	}
}
.post-1352 .gallerySingle:first-child #directorOverlay2 {
	top:auto;
	bottom:0;
}

.genres-wrapper .galleryContainer .gallerySingle #directorOverlay2 {
  top: auto;
  bottom: 0;
  font-size:24px;
}

.director-wrapper iframe {
  max-width: 100%;
}
