//-------------------------------
// Imports
//-------------------------------

@import 'grid/main';
@import "compass";
@import "breakpoint";

//-------------------------------
// Breakpoints
//-------------------------------
$mobile-only-landscape: (max-width 47.9em) (orientation landscape);

$mobile:30em;		//480px
$tablet:47.9em;		//767px
$laptop:56.25em;	//900px
$s-desktop:68.75em;	//1100px
$desktop:81.25em;	//1300px


//-------------------------------
// Colors
//-------------------------------

//-------------------------------
// Fonts
//-------------------------------
@font-face {
  font-family: 'Bradley Hand';
  src: url('../fonts/Bradley Hand Bold.ttf') format('truetype');
}

.home-wrapper .title {
  font-family: "Bradley Hand";
  
}

.title,
.pageTitle {
  font-size: 26px;
  color: white;
  font-weight: 300;
  font-family: "brandon-grotesque", arial;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.title {
  text-align: center;
}
.pageTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

@include breakpoint($tablet) {
  .pageTitle {
    text-align: right;
    padding-right: 20px;
  }
}
