.left-header {
	@include grid(columns, 6,6,6,6,12);
}
.right-header {
	@include grid(columns, 6,6,6,6,12);
}
.home-featured {
	@include grid(columns, 4,4,4,6,12);
}
.director-wrapper {
	.dir-name {
		//@include grid(columns, 6,6,6,6,12);
		//@include grid(push,5,5,5,5,0);
	}
}
.galleryContainer {
    .gridSingle, .gallerySingle {
        @include grid(columns, 4, 4, 4, 6, 12);
    }
}
.about-wrapper {
	.contact-bar {
		@include grid(columns, 4,4,4,6,12);
	}
	.about-bar {
		@include grid(prefix, 2,2,2,0,2);
		@include grid(columns, 6,6,6,6,12);
	}
}