@import "base";
@import "grid";
@import 'mixins/*';
@import 'components/*';

body {
  margin:0;
  padding:0;
  background:black;
  background: url('/wp-content/uploads/new_bg.jpg') no-repeat top center fixed black;
  background-size:cover;
  color: white;
}


 
