/* line 154, ../scss/grid/lib/_logic.scss */
.container {
  width: 960px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  /* line 159, ../scss/grid/lib/_logic.scss */
  .container {
    width: 100% !important; } }
/* line 164, ../scss/grid/lib/_logic.scss */
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container:before, .container:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

/* line 165, ../scss/grid/lib/_logic.scss */
.clearfix:after, .container_12:after, .container:after {
  clear: both; }

/* line 166, ../scss/grid/lib/_logic.scss */
.clearfix, .container_12, .container {
  zoom: 1; }

@font-face {
  font-family: 'Bradley Hand';
  src: url("../fonts/Bradley Hand Bold.ttf") format("truetype"); }
/* line 33, ../scss/_base.scss */
.home-wrapper .title {
  font-family: "Bradley Hand"; }

/* line 38, ../scss/_base.scss */
.title,
.pageTitle {
  font-size: 26px;
  color: white;
  font-weight: 300;
  font-family: "brandon-grotesque", arial;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* line 48, ../scss/_base.scss */
.title {
  text-align: center; }

/* line 51, ../scss/_base.scss */
.pageTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0; }

@media (min-width: 47.9em) {
  /* line 59, ../scss/_base.scss */
  .pageTitle {
    text-align: right;
    padding-right: 20px; } }
/* line 1, ../scss/_grid.scss */
.left-header {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 1, ../scss/_grid.scss */
    .left-header {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 1, ../scss/_grid.scss */
    .left-header {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 1, ../scss/_grid.scss */
    .left-header {
      width: 50%; } }
  @media (min-width: 68.75em) {
    /* line 1, ../scss/_grid.scss */
    .left-header {
      width: 50%; } }
  @media (min-width: 81.25em) {
    /* line 1, ../scss/_grid.scss */
    .left-header {
      width: 50%; } }

/* line 4, ../scss/_grid.scss */
.right-header {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 4, ../scss/_grid.scss */
    .right-header {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 4, ../scss/_grid.scss */
    .right-header {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 4, ../scss/_grid.scss */
    .right-header {
      width: 50%; } }
  @media (min-width: 68.75em) {
    /* line 4, ../scss/_grid.scss */
    .right-header {
      width: 50%; } }
  @media (min-width: 81.25em) {
    /* line 4, ../scss/_grid.scss */
    .right-header {
      width: 50%; } }

/* line 7, ../scss/_grid.scss */
.home-featured {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 7, ../scss/_grid.scss */
    .home-featured {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 7, ../scss/_grid.scss */
    .home-featured {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 7, ../scss/_grid.scss */
    .home-featured {
      width: 33.33333%; } }
  @media (min-width: 68.75em) {
    /* line 7, ../scss/_grid.scss */
    .home-featured {
      width: 33.33333%; } }
  @media (min-width: 81.25em) {
    /* line 7, ../scss/_grid.scss */
    .home-featured {
      width: 33.33333%; } }

/* line 17, ../scss/_grid.scss */
.galleryContainer .gridSingle, .galleryContainer .gallerySingle {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 17, ../scss/_grid.scss */
    .galleryContainer .gridSingle, .galleryContainer .gallerySingle {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 17, ../scss/_grid.scss */
    .galleryContainer .gridSingle, .galleryContainer .gallerySingle {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 17, ../scss/_grid.scss */
    .galleryContainer .gridSingle, .galleryContainer .gallerySingle {
      width: 33.33333%; } }
  @media (min-width: 68.75em) {
    /* line 17, ../scss/_grid.scss */
    .galleryContainer .gridSingle, .galleryContainer .gallerySingle {
      width: 33.33333%; } }
  @media (min-width: 81.25em) {
    /* line 17, ../scss/_grid.scss */
    .galleryContainer .gridSingle, .galleryContainer .gallerySingle {
      width: 33.33333%; } }

/* line 22, ../scss/_grid.scss */
.about-wrapper .contact-bar {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 22, ../scss/_grid.scss */
    .about-wrapper .contact-bar {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 22, ../scss/_grid.scss */
    .about-wrapper .contact-bar {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 22, ../scss/_grid.scss */
    .about-wrapper .contact-bar {
      width: 33.33333%; } }
  @media (min-width: 68.75em) {
    /* line 22, ../scss/_grid.scss */
    .about-wrapper .contact-bar {
      width: 33.33333%; } }
  @media (min-width: 81.25em) {
    /* line 22, ../scss/_grid.scss */
    .about-wrapper .contact-bar {
      width: 33.33333%; } }
/* line 25, ../scss/_grid.scss */
.about-wrapper .about-bar {
  float: left;
  display: inline;
  margin: 0 0%; }
  @media (min-width: 0em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      margin-left: 16.66667%; } }
  @media (min-width: 48em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      margin-left: 0%; } }
  @media (min-width: 56.25em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      margin-left: 16.66667%; } }
  @media (min-width: 68.75em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      margin-left: 16.66667%; } }
  @media (min-width: 81.25em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      margin-left: 16.66667%; } }
  @media (min-width: 0em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      width: 100%; } }
  @media (min-width: 48em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      width: 50%; } }
  @media (min-width: 56.25em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      width: 50%; } }
  @media (min-width: 68.75em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      width: 50%; } }
  @media (min-width: 81.25em) {
    /* line 25, ../scss/_grid.scss */
    .about-wrapper .about-bar {
      width: 50%; } }

/* line 2, ../scss/components/_contact.scss */
.about-wrapper .contact-bar {
  max-width: 250px; }
  /* line 4, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar .title {
    clear: both;
    /*		text-align: left; */
    /*		font-weight: 200; */
    /*		font-size: 40px; */
    margin-bottom: 30px;
    margin-top: 21px; }
  /* line 12, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar address {
    font-style: normal;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding-top: 14px;
    margin-top: -22px;
    font-weight: 300; }
  /* line 21, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar .map-it, .about-wrapper .contact-bar .phone, .about-wrapper .contact-bar .email {
    color: #80a9ae;
    display: block;
    margin: 10px 0; }
  /* line 26, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar .phone {
    color: white;
    text-decoration: none; }
/* line 31, ../scss/components/_contact.scss */
.about-wrapper .cf-contact {
  color: white; }
  /* line 34, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .contact-form input, .about-wrapper .cf-contact .contact-form textarea {
    background-color: #FFF;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 200px; }
  /* line 42, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact div.wpcf7 .watermark {
    font-family: "brandon-grotesque", arial;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300; }
  /* line 51, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .wpcf7-textarea {
    height: 200px; }
  /* line 55, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .contact-form input,
  .about-wrapper .cf-contact .contact-form textarea {
    padding: 5px;
    font-family: "brandon-grotesque", arial;
    font-size: 16px;
    color: #333; }
  /* line 63, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .contact-form input[type=submit] {
    width: 87px;
    padding: 11px 0;
    text-transform: uppercase;
    font-family: LatoLight, 'LatoLight', Times, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5em;
    border: 1px solid #1b2a2c;
    letter-spacing: 0.160em;
    background: #274e54;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1c393d), color-stop(1, #5b797d));
    background: -ms-linear-gradient(bottom, #1c393d, #5b797d);
    background: -moz-linear-gradient(center bottom, #1c393d 0%, #5b797d 100%);
    margin-top: 13px;
    height: 35px; }
  /* line 81, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .contact-form input[type=submit] {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #274d56), color-stop(1, #274d56));
    background: -ms-linear-gradient(bottom, #274d56, #274d56);
    background: -moz-linear-gradient(center bottom, #274d56 0%, #274d56 100%);
    width: 210px;
    padding: 5px;
    margin-top: -10px; }
  /* line 89, ../scss/components/_contact.scss */
  .about-wrapper .cf-contact .contact-form p {
    font-size: 16px; }
/* line 94, ../scss/components/_contact.scss */
.about-wrapper .about-bar .title {
  /*		color:white; */
  clear: both;
  /*      	text-align: left; */
  /*		font-family: 'brandon-grotesque', arial; */
  /*		font-weight: 200; */
  /*		font-size: 70px;  */
  margin-bottom: 30px; }
/* line 103, ../scss/components/_contact.scss */
.about-wrapper .about-bar p {
  color: white;
  font-family: 'brandon-grotesque', arial; }

@media (max-width: 47.9em) {
  /* line 111, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar, .about-wrapper .about-bar {
    max-width: 60%;
    margin: 0 20%; } }
@media (min-width: 48em) {
  /* line 119, ../scss/components/_contact.scss */
  .about-wrapper .contact-bar {
    max-width: 250px; }
    /* line 121, ../scss/components/_contact.scss */
    .about-wrapper .contact-bar .pageTitle {
      padding-right: 0; }
  /* line 125, ../scss/components/_contact.scss */
  .about-wrapper .about-bar {
    float: right; } }
/* line 2, ../scss/components/_director.scss */
.director-wrapper iframe {
  margin: 0 auto;
  display: block;
  clear: both; }
/* line 14, ../scss/components/_director.scss */
.director-wrapper article h2 {
  border-bottom: 0px;
  font-family: "brandon-grotesque", arial;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  line-height: 1.5em;
  height: 100px;
  text-align: center; }
/* line 28, ../scss/components/_director.scss */
.director-wrapper .director-switcher {
  float: none; }
/* line 33, ../scss/components/_director.scss */
.director-wrapper .entry.work .director-work {
  display: block;
  clear: both; }
/* line 37, ../scss/components/_director.scss */
.director-wrapper .entry.work .director-bio {
  display: none; }
/* line 42, ../scss/components/_director.scss */
.director-wrapper .entry.bio .director-work {
  display: none; }
/* line 45, ../scss/components/_director.scss */
.director-wrapper .entry.bio .director-bio {
  display: block;
  color: white;
  clear: both;
  font-family: "brandon-grotesque", arial;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
  width: 80%;
  margin: 0 auto; }
/* line 58, ../scss/components/_director.scss */
.director-wrapper .galleryContainer .gridSingle {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px; }
  /* line 62, ../scss/components/_director.scss */
  .director-wrapper .galleryContainer .gridSingle #directorOverlay {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: white; }
  /* line 74, ../scss/components/_director.scss */
  .director-wrapper .galleryContainer .gridSingle .directorThumbs {
    margin: 0 auto;
    width: 80%;
    display: block;
    max-width: 295px; }
/* line 82, ../scss/components/_director.scss */
.director-wrapper .galleryContainer.closed {
  display: none; }

/* line 86, ../scss/components/_director.scss */
.director-switcher li.on {
  border: 2px solid white;
  background-color: transparent;
  webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  font-weight: 400;
  color: #FFF; }

/* line 96, ../scss/components/_director.scss */
.director-switcher li.on {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

/* line 105, ../scss/components/_director.scss */
.director-switcher li {
  font-weight: 400; }

/* line 108, ../scss/components/_director.scss */
.director-switcher li {
  font-family: "brandon-grotesque", arial;
  font-weight: 700; }

/* line 112, ../scss/components/_director.scss */
.director-switcher li {
  display: inline;
  padding-left: 10px;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 8px 5px;
  cursor: pointer; }

@media (min-width: 47.9em) {
  /* line 127, ../scss/components/_director.scss */
  .director-wrapper .close-modal {
    display: none; }
  /* line 130, ../scss/components/_director.scss */
  .director-wrapper .director-switcher {
    position: absolute;
    margin-top: 40px; }
  /* line 135, ../scss/components/_director.scss */
  .director-wrapper article h2 {
    float: right;
    padding-right: 30px; }
  /* line 141, ../scss/components/_director.scss */
  .director-wrapper .entry.bio .director-bio {
    width: 100%; }
  /* line 147, ../scss/components/_director.scss */
  .director-wrapper .galleryContainer .gridSingle .directorThumbs {
    width: 100%; }

  /* line 153, ../scss/components/_director.scss */
  .alignleft {
    float: left;
    margin: 6px 40px 20px 25px; } }
/* line 158, ../scss/components/_director.scss */
#theLink {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

/* line 164, ../scss/components/_director.scss */
#theLink iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 47.9em) {
  /* line 172, ../scss/components/_director.scss */
  .video-wrapper, #videoWrapper {
    display: none; }

  /* line 176, ../scss/components/_director.scss */
  .video-wrapper.visible, #videoWrapper.visible {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 50% 0;
    top: 0;
    margin-top: -25%;
    z-index: 100;
    background: black; }
    /* line 187, ../scss/components/_director.scss */
    .video-wrapper.visible .close-modal, .video-wrapper.visible .close-modal-genre, #videoWrapper.visible .close-modal, #videoWrapper.visible .close-modal-genre {
      float: right;
      display: block;
      padding: 5px;
      color: white;
      font-weight: bold;
      margin-bottom: 30px; }
    /* line 195, ../scss/components/_director.scss */
    .video-wrapper.visible #theVideo, .video-wrapper.visible #videoPlayer, #videoWrapper.visible #theVideo, #videoWrapper.visible #videoPlayer {
      display: block;
      clear: both; }
      /* line 198, ../scss/components/_director.scss */
      .video-wrapper.visible #theVideo pre, .video-wrapper.visible #videoPlayer pre, #videoWrapper.visible #theVideo pre, #videoWrapper.visible #videoPlayer pre {
        margin: 0; } }
@media (max-width: 47.9em) and (orientation: landscape) {
  /* line 207, ../scss/components/_director.scss */
  .video-wrapper.visible, #video-wrapper.visible {
    padding: 0 10% 200px 10%;
    margin-top: 0;
    width: 80%; } }
/* Directors List */
/* line 3, ../scss/components/_directors-list.scss */
.directors-wrapper {
  text-align: center; }

/* line 1, ../scss/components/_genres.scss */
.genres-wrapper {
  /*    .pageTitle {
          font-family: "brandon-grotesque", arial;
          font-weight: 300;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 32px;
          color:white;
          float:right;
          padding-top: 20px;
          padding-right: 26px;
      }
  /**/ }
  /* line 2, ../scss/components/_genres.scss */
  .genres-wrapper iframe {
    margin: 0 auto;
    display: block;
    clear: both;
    text-align: center; }
  /* line 13, ../scss/components/_genres.scss */
  .genres-wrapper p {
    color: white; }
  /* line 28, ../scss/components/_genres.scss */
  .genres-wrapper .galleryContainer {
    text-align: center;
    font-size: 0; }
    /* line 31, ../scss/components/_genres.scss */
    .genres-wrapper .galleryContainer .gallerySingle {
      float: none;
      display: inline-block;
      position: relative;
      margin: 0 auto;
      margin-bottom: 20px; }
      /* line 32, ../scss/components/_genres.scss */
      .genres-wrapper .galleryContainer .gallerySingle[onclick] {
        cursor: pointer; }
      /* line 40, ../scss/components/_genres.scss */
      .genres-wrapper .galleryContainer .gallerySingle #directorOverlay2 {
        position: absolute;
        top: 40%;
        left: 0px;
        width: 80%;
        margin: 0 10%;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        color: white; }
      /* line 52, ../scss/components/_genres.scss */
      .genres-wrapper .galleryContainer .gallerySingle .directorThumbs2 {
        margin: 0 auto;
        width: 80%;
        display: block;
        max-width: 295px; }

/* line 61, ../scss/components/_genres.scss */
.alignleft {
  float: left;
  margin: 6px 40px 20px 25px; }

@media (min-width: 47.9em) {
  /* line 67, ../scss/components/_genres.scss */
  .genres-wrapper .galleryContainer {
    clear: both;
    /*margin-top: 100px;*/
    display: block !important; }
    /* line 73, ../scss/components/_genres.scss */
    .genres-wrapper .galleryContainer .gallerySingle .directorThumbs2 {
      width: 100%; }

  /* line 79, ../scss/components/_genres.scss */
  .close-modal-genre {
    display: none; } }
/* Video player */
/* 2018-03-26 - Scott */
/* line 87, ../scss/components/_genres.scss */
#videoPlayer p {
  display: none; }
/* line 90, ../scss/components/_genres.scss */
.visible #videoPlayer {
  margin-bottom: 20px; }

/* line 1, ../scss/components/_header.scss */
header {
  font-size: 0;
  box-sizing: border-box;
  padding: 0 20px; }
  /* line 6, ../scss/components/_header.scss */
  header .header-row-left,
  header .header-row-right {
    display: inline-block;
    vertical-align: bottom; }
  /* line 11, ../scss/components/_header.scss */
  header .header-row-left {
    width: 30%; }
    @media (max-width: 800px) {
      /* line 11, ../scss/components/_header.scss */
      header .header-row-left {
        width: 100%;
        text-align: center; } }
  /* line 18, ../scss/components/_header.scss */
  header .header-row-right {
    width: 70%; }
    @media (max-width: 800px) {
      /* line 18, ../scss/components/_header.scss */
      header .header-row-right {
        width: 100%;
        text-align: center; } }
  /* line 25, ../scss/components/_header.scss */
  header .fizz-logo {
    padding-bottom: 7px;
    display: inline-block; }
    @media (max-width: 800px) {
      /* line 25, ../scss/components/_header.scss */
      header .fizz-logo {
        padding-left: 25px;
        padding-top: 20px;
        box-sizing: border-box;
        text-align: center; } }
    /* line 34, ../scss/components/_header.scss */
    header .fizz-logo img {
      max-width: 225px;
      width: 100%; }
  /* line 39, ../scss/components/_header.scss */
  header .social-nav {
    margin: 0;
    text-align: right; }
    @media (max-width: 800px) {
      /* line 39, ../scss/components/_header.scss */
      header .social-nav {
        margin: 20px auto;
        width: 100%;
        text-align: center; } }
    /* line 49, ../scss/components/_header.scss */
    header .social-nav ul {
      text-align: center; }
  /* line 53, ../scss/components/_header.scss */
  header .main-nav {
    text-align: right; }
    @media (max-width: 800px) {
      /* line 53, ../scss/components/_header.scss */
      header .main-nav {
        text-align: center; } }
    /* line 60, ../scss/components/_header.scss */
    header .main-nav li {
      border-right: 1px solid #124d48;
      height: 40px;
      display: inline-block;
      text-align: center;
      list-style: none; }
      @media (max-width: 800px) {
        /* line 60, ../scss/components/_header.scss */
        header .main-nav li {
          text-align: center; } }
      @media (max-width: 530px) {
        /* line 60, ../scss/components/_header.scss */
        header .main-nav li {
          border-right: none; } }
      /* line 75, ../scss/components/_header.scss */
      header .main-nav li a {
        font-family: "brandon-grotesque", arial;
        font-weight: 400;
        padding: 10px;
        font-size: 15px;
        line-height: 40px;
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
      /* line 85, ../scss/components/_header.scss */
      header .main-nav li:last-child {
        border: none; }
        /* line 87, ../scss/components/_header.scss */
        header .main-nav li:last-child a {
          padding-right: 0; }

@media (min-width: 47.9em) {
  /* line 95, ../scss/components/_header.scss */
  header {
    margin-top: 30px; }
    /* line 97, ../scss/components/_header.scss */
    header .fizz-logo img {
      margin: 0;
      max-width: 225px;
      width: 100%; }
    /* line 104, ../scss/components/_header.scss */
    header .right-align {
      margin-right: 20px; }
    /* line 109, ../scss/components/_header.scss */
    header .main-nav {
      clear: both; }
      /* line 111, ../scss/components/_header.scss */
      header .main-nav li {
        border-right: 1px solid #124d48;
        display: inline-block;
        height: 40px;
        list-style: none; } }
      @media (min-width: 47.9em) and (max-width: 530px) {
        /* line 111, ../scss/components/_header.scss */
        header .main-nav li {
          border-right: none; } }
@media (min-width: 47.9em) {
        /* line 121, ../scss/components/_header.scss */
        header .main-nav li a {
          font-family: "brandon-grotesque", arial;
          font-weight: 400;
          padding: 10px;
          font-size: 15px;
          line-height: 40px;
          color: white;
          text-decoration: none; }
        /* line 130, ../scss/components/_header.scss */
        header .main-nav li:last-child {
          border: none; } }
/* line 1, ../scss/components/_home.scss */
.home-wrapper.container {
  padding-top: 40px;
  text-align: center; }

/* line 6, ../scss/components/_home.scss */
.home-featured {
  float: none;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px; }
  /* line 12, ../scss/components/_home.scss */
  .home-featured img {
    display: block;
    margin: 0 auto; }
  /* line 16, ../scss/components/_home.scss */
  .home-featured .thumbNailText {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase; }
    /* line 25, ../scss/components/_home.scss */
    .home-featured .thumbNailText a {
      text-transform: uppercase;
      color: white;
      text-decoration: none; }

/* line 32, ../scss/components/_home.scss */
.home-footer {
  display: none; }

/* line 35, ../scss/components/_home.scss */
.copyright small {
  display: none; }

/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
/* line 19, ../scss/components/_swipebox.scss */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important; }

/* line 23, ../scss/components/_swipebox.scss */
#swipebox-overlay img {
  border: none !important; }

/* line 27, ../scss/components/_swipebox.scss */
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  user-select: none; }

/* line 38, ../scss/components/_swipebox.scss */
#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%; }

/* line 44, ../scss/components/_swipebox.scss */
#swipebox-slider {
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer; }
  /* line 55, ../scss/components/_swipebox.scss */
  #swipebox-slider .slide {
    height: 100%;
    width: 100%;
    line-height: 1px;
    text-align: center;
    display: inline-block; }
    /* line 62, ../scss/components/_swipebox.scss */
    #swipebox-slider .slide:before {
      content: "";
      display: inline-block;
      height: 50%;
      width: 1px;
      margin-right: -1px; }
    /* line 70, ../scss/components/_swipebox.scss */
    #swipebox-slider .slide img,
    #swipebox-slider .slide .swipebox-video-container,
    #swipebox-slider .slide .swipebox-inline-container {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      vertical-align: middle; }
    /* line 83, ../scss/components/_swipebox.scss */
    #swipebox-slider .slide .swipebox-video-container {
      background: none;
      max-width: 1140px;
      max-height: 100%;
      width: 100%;
      padding: 5%;
      box-sizing: border-box; }
      /* line 90, ../scss/components/_swipebox.scss */
      #swipebox-slider .slide .swipebox-video-container .swipebox-video {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        position: relative; }
        /* line 96, ../scss/components/_swipebox.scss */
        #swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
          width: 100% !important;
          height: 100% !important;
          position: absolute;
          top: 0;
          left: 0; }
  /* line 106, ../scss/components/_swipebox.scss */
  #swipebox-slider .slide-loading {
    background: url(../img/loader.gif) no-repeat center center; }

/* line 112, ../scss/components/_swipebox.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%; }

/* line 122, ../scss/components/_swipebox.scss */
#swipebox-bottom-bar {
  bottom: -50px; }
  /* line 125, ../scss/components/_swipebox.scss */
  #swipebox-bottom-bar.visible-bars {
    transform: translate3d(0, -50px, 0); }

/* line 130, ../scss/components/_swipebox.scss */
#swipebox-top-bar {
  top: -50px; }
  /* line 133, ../scss/components/_swipebox.scss */
  #swipebox-top-bar.visible-bars {
    transform: translate3d(0, 50px, 0); }

/* line 138, ../scss/components/_swipebox.scss */
#swipebox-title {
  display: block;
  width: 100%;
  text-align: center; }

/* line 144, ../scss/components/_swipebox.scss */
#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0; }

/* line 158, ../scss/components/_swipebox.scss */
#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px; }

/* line 165, ../scss/components/_swipebox.scss */
#swipebox-prev {
  background-position: -32px 13px;
  float: left; }

/* line 170, ../scss/components/_swipebox.scss */
#swipebox-next {
  background-position: -78px 13px;
  float: right; }

/* line 175, ../scss/components/_swipebox.scss */
#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px; }

/* line 183, ../scss/components/_swipebox.scss */
.swipebox-no-close-button #swipebox-close {
  display: none; }

/* line 189, ../scss/components/_swipebox.scss */
#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3; }

/* line 195, ../scss/components/_swipebox.scss */
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  animation: rightSpring 0.3s; }
/* line 199, ../scss/components/_swipebox.scss */
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  animation: leftSpring 0.3s; }

/* line 206, ../scss/components/_swipebox.scss */
.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  backface-visibility: hidden;
  transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0; }
/* line 219, ../scss/components/_swipebox.scss */
.swipebox-touch #swipebox-container:before {
  left: 0;
  box-shadow: inset 10px 0px 10px -8px #656565; }
/* line 224, ../scss/components/_swipebox.scss */
.swipebox-touch #swipebox-container:after {
  right: 0;
  box-shadow: inset -10px 0px 10px -8px #656565; }
/* line 231, ../scss/components/_swipebox.scss */
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1; }
/* line 238, ../scss/components/_swipebox.scss */
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1; }

@keyframes rightSpring {
  0% {
    left: 0; }
  50% {
    left: -30px; }
  100% {
    left: 0; } }
@keyframes leftSpring {
  0% {
    left: 0; }
  50% {
    left: 30px; }
  100% {
    left: 0; } }
@media screen and (min-width: 800px) {
  /* line 274, ../scss/components/_swipebox.scss */
  #swipebox-close {
    right: 10px; }

  /* line 278, ../scss/components/_swipebox.scss */
  #swipebox-arrows {
    width: 92%;
    max-width: 800px; } }
/* Skin 
--------------------------*/
/* line 286, ../scss/components/_swipebox.scss */
#swipebox-overlay {
  background: #0d0d0d; }

/* line 290, ../scss/components/_swipebox.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95; }

/* line 302, ../scss/components/_swipebox.scss */
#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif; }

/* line 6, ../scss/layout.scss */
body {
  margin: 0;
  padding: 0;
  background: black;
  background: url("/wp-content/uploads/new_bg.jpg") no-repeat top center fixed black;
  background-size: cover;
  color: white; }
