/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font: 13px Helmet, Freesans, sans-serif;
}
/* using local fonts? make sure to read up on Paul Irish's
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* And here begins the Wordpress fun.
-------------------------------------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.aside1 {
  display: inline;
  float: left;
  width: 140px;
  margin: 0 10px;
}
.grid-main {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
}
.grid-main .director-bio {
  display: block;
  width: 739.9999999999999px;
  margin: 0 -10px;
  *zoom: 1;
  width: 700px;
  margin: 0;
}
.grid-main .director-bio:before,
.grid-main .director-bio:after {
  content: "";
  display: table;
}
.grid-main .director-bio:after {
  clear: both;
}
.director-bio p {
  margin-bottom: 1em;
  margin-left: 232px;
}
.home-grid {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
}
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light-webfont.eot');
  src: url('../fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Light-webfont.woff') format('woff'), url('../fonts/Lato-Light-webfont.ttf') format('truetype'), url('../fonts/Lato-Light-webfont.svg#LatoLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato-Hairline-webfont.eot');
  src: url('../fonts/Lato-Hairline-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Hairline-webfont.woff') format('woff'), url('../fonts/Lato-Hairline-webfont.ttf') format('truetype'), url('../fonts/Lato-Hairline-webfont.svg#LatoHairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url('../fonts/modernpics-webfont.eot');
  src: url('../fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/modernpics-webfont.woff') format('woff'), url('../fonts/modernpics-webfont.ttf') format('truetype'), url('../fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold-webfont.eot');
  src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold-webfont.woff') format('woff'), url('../fonts/Lato-Bold-webfont.ttf') format('truetype'), url('../fonts/Lato-Bold-webfont.svg#LatoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular-webfont.eot');
  src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular-webfont.woff') format('woff'), url('../fonts/Lato-Regular-webfont.ttf') format('truetype'), url('../fonts/Lato-Regular-webfont.svg#LatoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h3 {
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 28px;
  line-height: 1.5em;
  color: #417379;
}
.center {
  margin: 0 auto;
}
.inline {
  float: left;
}
.stroke {
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
}
a {
  color: #80a9ae;
}
a:hover {
  color: #ffffff;
}
@-webkit-keyframes page-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background-color: #292c2c;
  font-family: Lato, 'LatoRegular', Times, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5em;
  height: 100%;
}
#page-bg {
  background: url(../images/bg-full1.png) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1500px;
  position: relative;
  margin: 0 auto;
}
#page-wrap {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.logo {
  background: transparent url('../images/logo.png') left top no-repeat;
  width: 263px;
  height: 215px;
  display: block;
  text-indent: -9999px;
  margin-left: -70px;
  position: absolute;
  z-index: 1;
}
.icon:after {
  font-family: ModernPictogramsNormal;
  margin-left: 9px;
}
.icon-arrow:after {
  content: "/";
}
nav[role=navigation] {
  padding-top: 75px;
  height: 54px;
  margin-bottom: 40px;
}
nav[role=navigation] ul.dropdown {
  float: right;
  margin-right: 30px;
}
nav[role=navigation] ul li {
  float: left;
  border-right: 1px solid #3a3a3a;
  width: auto;
  zoom: 1;
}
nav[role=navigation] ul li:last-child {
  border: none;
}
nav[role=navigation] ul li:last-child a {
  padding-right: 0;
}
nav[role=navigation] ul li:first-child:hover,
nav[role=navigation] .hover {
  color: #c2fffa;
}
nav[role=navigation] a {
  font-family: Lato, 'LatoBold', Times, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: 1.5em;
  height: 17px;
  padding: 18px 24px 19px;
  display: block;
  text-decoration: none;
  opacity: .9999;
}
nav[role=navigation] a:hover,
nav[role=navigation] .hover a,
nav[role=navigation] .current_page_item a,
nav[role=navigation] .current_page_parent a {
  color: #c2fffa;
}
nav[role=navigation] ul ul.children {
  display: none;
  position: absolute;
  z-index: 10;
}
nav[role=navigation] ul ul.children li {
  background: #c2fffa;
  border-right: none;
  border-right: 1px solid #c2fffa;
  float: none;
  border-bottom: 1px dotted #70b2ad;
}
nav[role=navigation] ul ul.children li a {
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5em;
  color: #28545a;
  display: inline-block;
  padding: 8px 25px 11px;
}
nav[role=navigation] ul ul.children li:hover {
  background: #fff;
}
article h2,
.director-list,
.error {
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  line-height: 1.5em;
  text-align: right;
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.error {
  text-align: left;
}
article h3 {
  margin-top: 28px;
}
ul.director-list {
  padding-bottom: 50px;
}
ul.director-list a {
  color: #417379;
  text-decoration: none;
}
ul.director-list a:hover {
  text-decoration: underline;
  color: #80A9AE;
}
.director-list {
  font-size: 28px;
}
.director-switcher {
  float: left;
  margin-top: -60px;
  margin-bottom: 20px;
  z-index: 1;
}
.director-switcher li {
  display: inline;
  padding-left: 10px;
  text-decoration: none;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  padding: 6px 7px;
  cursor: pointer;
}
.director-switcher li:hover {
  color: #348a83;
}
.director-switcher li.on {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #c2fffa;
  color: #348a83;
}
.director-work {
  text-align: center;
}
.director-bio {
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
  padding-bottom: 50px;
  min-height: 150px;
}
.director-bio img {
  float: left;
  margin: 6px 40px 20px 25px;
}
.director-bio p {
  padding-right: 25px;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  line-height: 1.5em;
}
.director {
  display: none;
  -webkit-animation-name: page-fade;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
.work .director-work {
  display: block;
}
.work .director-bio {
  display: none;
}
.bio .director-bio {
  display: block;
}
.bio .director-work {
  display: none;
}
.home-footer ul {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.home-footer li {
  float: left;
  height: 25px;
  text-transform: uppercase;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  line-height: 1.5em;
  padding: 7px 16px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.home-footer li:last-child {
  border: none;
  padding-right: 0;
}
.home-footer li:first-child {
  padding-left: 0;
}
.home-footer a {
  -moz-opacity: 0.61;
  -khtml-opacity: 0.61;
  -webkit-opacity: 0.61;
  opacity: 0.61;
  color: #80a9ae;
  text-decoration: none;
}
.home-footer a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  text-decoration: underline;
}
.footer {
  text-transform: uppercase;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 10px;
  line-height: 1.5em;
  color: #80a9ae;
  -moz-opacity: 0.61;
  -khtml-opacity: 0.61;
  -webkit-opacity: 0.61;
  opacity: 0.61;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 50px;
}
div.contact {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
}
div.contact .addresses {
  display: block;
  width: 739.9999999999999px;
  margin: 0 -10px;
  *zoom: 1;
}
div.contact .addresses:before,
div.contact .addresses:after {
  content: "";
  display: table;
}
div.contact .addresses:after {
  clear: both;
}
div.contact .addresses .atl,
div.contact .addresses .pho,
div.contact .addresses .la {
  display: inline;
  float: left;
  width: 220.00000000000003px;
  margin: 0 10px;
}
div.contact h4,
div.contact p,
div.contact a {
  text-align: left;
  font-family: LatoHairline, 'LatoHairline', Times, sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  color: #80a9ae;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
}
div.contact a {
  letter-spacing: normal;
}
div.contact h4 {
  margin-bottom: 0.25em;
}
div.contact p,
div.contact a {
  line-height: 1.5em;
  font-size: 12px;
}
div.contact .num {
  margin-top: 4em;
}
.contact-us,
.about-us {
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
}
.map {
  float: left;
  margin: 0 0 40px 30px;
  z-index: 1;
  min-height: 350px;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
}
.map .atl {
  margin-top: 24px;
}
.map .address {
  margin-bottom: 20px;
}
.contact-form {
  float: left;
  margin: 0 0 40px 40px;
  min-height: 350px;
  z-index: 50;
}
.contact-form p {
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.9em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-form p:first-child {
  line-height: 1em;
}
.contact-form input,
.contact-form textarea {
  width: 310px;
  background: #45686d;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom: 0;
  color: #fff;
}
.contact-form input {
  height: 25px;
}
.contact-form input[type=submit] {
  width: 87px;
  padding: 11px 0;
  text-transform: uppercase;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5em;
  border: 1px solid #1b2a2c;
  letter-spacing: 0.160em;
  background: #274e54;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1c393d), color-stop(1, #5b797d));
  background: -ms-linear-gradient(bottom, #1c393d, #5b797d);
  background: -moz-linear-gradient(center bottom, #1c393d 0%, #5b797d 100%);
  margin-top: 13px;
  height: 35px;
}
.contact-form div.wpcf7-validation-errors {
  border: 2px solid #F7E700;
  width: 260px;
}
.contact-form span.wpcf7-not-valid-tip {
  color: #222;
  text-transform: none;
}
.about-us ul {
  float: left;
  margin: 5px 20px 0 30px;
  width: 200px;
}
.about-us ul li {
  margin-bottom: 21px;
}
.about-us .about {
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  line-height: 1.5em;
  margin: 0 25px 30px;
}
.about-us .about p {
  margin-bottom: 1em;
}
.clients {
  -moz-column-width: 183px;
  -moz-column-count: 3;
  -moz-column-gap: 38px;
  -moz-column-rule-color: #ffffff;
  -moz-column-rule-style: none;
  -moz-column-rule-width: 0;
  -webkit-column-width: 183px;
  -webkit-column-count: 3;
  -webkit-column-gap: 38px;
  -webkit-column-rule-color: #ffffff;
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0;
  column-width: 183px;
  column-count: 3;
  column-gap: 38px;
  column-rule-color: #ffffff;
  column-rule-style: none;
  column-rule-width: 0;
  margin-top: 30px;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.8em;
  padding-bottom: 70px;
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
}
.featured {
  text-transform: uppercase;
  font-family: Lato, 'LatoBold', Times, sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5em;
  color: #417379;
  padding-bottom: 20px;
}
.featured ul {
  margin: 20px 5% 0;
}
.featured ul li {
  float: left;
}
.featured ul a {
  color: #24dac3;
}
.featured p {
  margin: 0 5%;
}
article .featured {
  border-bottom: 1px dotted #69959B;
  border-bottom: 1px dotted rgba(105, 149, 155, 0.5);
}
.director-dropdown-label {
  margin-top: -63px;
  float: left;
}
.director-dropdown-label li {
  float: left;
  margin-right: 12px;
  width: auto;
}
.director-dropdown-label li.current-director {
  border: 1px solid #2a4e50;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 7px 11px 5px;
  margin-top: -7px;
  color: #c2fffa;
}
.director-dropdown-label li.current-director:hover {
  cursor: pointer;
  color: #fff;
  border-color: #888;
}
.director-dropdown-label li ul {
  display: none;
  position: absolute;
  z-index: 10;
  margin: 7px 0 0 -12px;
}
.director-dropdown-label li ul li {
  background: #c2fffa;
  border-right: none;
  border-right: 1px solid #c2fffa;
  border-bottom: 1px dotted #70b2ad;
  font-family: LatoLight, 'LatoLight', Times, sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.5em;
  color: #28545a;
  float: none;
  padding: 8px 25px 11px;
  width: auto;
}
.director-dropdown-label li ul li:hover {
  background-color: #FFF;
}
.director-name {
  padding: 0 5%;
}
ul.social-nav {
  list-style: none;
  display: block;
  float: right;
  margin-right: 30px;
}
ul.social-nav li,
.social-cu li {
  display: inline;
  float: left;
}
a.twitter,
a.facebook {
  margin: 30px 0 0 10px;
  width: 21px;
  height: 20px;
  display: block;
  text-indent: -9999px;
  height: 22px;
  z-index: 500;
}
a.twitter {
  background: url(../images/social.png) -2px -2px no-repeat;
}
a.twitter:hover {
  background: url(../images/social.png) -2px -42px no-repeat;
}
a.facebook {
  background: url(../images/social.png) -42px -2px no-repeat;
}
a.facebook:hover {
  background: url(../images/social.png) -42px -42px no-repeat;
}
.social-cu {
  margin: 0 12%;
}
.twitter-cu,
.facebook-cu {
  margin: 30px 0 0 0;
  width: 116px;
  height: 116px;
  display: block;
  text-indent: -9999px;
}
a.twitter-cu {
  background: url(../images/social.png) -1px -73px no-repeat;
}
a.twitter-cu:hover {
  background: url(../images/social.png) -1px -189px no-repeat;
}
a.facebook-cu {
  background: url(../images/social.png) -131px -73px no-repeat;
}
a.facebook-cu:hover {
  background: url(../images/social.png) -131px -189px no-repeat;
}
ol.commentlist {
  list-style: none;
}
ol.commentlist li.comment {
  border-bottom: 1px dotted #666;
  padding: 10px;
}
ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal;
}
ol.commentlist li.comment div.vcard img.avatar {
  float: right;
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment div.comment-meta {
  font-size: 10px;
}
ol.commentlist li.comment div.comment-meta a {
  color: #ccc;
}
ol.commentlist li.comment div.reply {
  font-size: 11px;
}
ol.commentlist li.comment div.reply a {
  font-weight: bold;
}
ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0;
}
ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 10px 10px;
}
ol.commentlist li.even {
  background: #fff;
}
ol.commentlist li.odd {
  background: #f6f6f6;
}
ol.commentlist li.parent {
  border-left: 5px solid #111;
}
/* Print styles!
-------------------------------------------------------------------------------*/
@media print {
  
}
/* Media queries!
-------------------------------------------------------------------------------*/
/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
}
@media all and (orientation: portrait) {
  
}
@media all and (orientation: landscape) {
  
}
