@mixin grid($args, $desktop, $s-desktop, $laptop, $tablet, $mobile) {

  @if $args == columns {

    $style:width;
    $final-margins: ($margins * 2);
    float:left;
    display:inline;
    margin:0 ($margins * 1%);

    @include bp(mobile) {
      width:((100%/$max_columns) * $mobile) - $final-margins;
    }
    @include bp(tablet) {
      width:((100%/$max_columns) * $tablet) - $final-margins;
    }
    @include bp(laptop) {
      width:((100%/$max_columns) * $laptop) - $final-margins;
    }
    @include bp(s-desktop) {
      width:((100%/$max_columns) * $s-desktop) - $final-margins;
    }
    @include bp(desktop) {
      width:((100%/$max_columns) * $desktop) - $final-margins;
    }

  } @else if $args == prefix {

    $style:margin-left;
    $final-margin: $margins;

    @include bp(mobile) {
      margin-left:((100%/$max_columns) * $mobile) + $margins;
    }
    @include bp(tablet) {
      margin-left:((100%/$max_columns) * $tablet) + $margins;
    }
    @include bp(laptop) {
      margin-left:((100%/$max_columns) * $laptop) + $margins;
    }
    @include bp(s-desktop) {
      margin-left:((100%/$max_columns) * $s-desktop) + $margins;
    }
    @include bp(desktop) {
      margin-left:((100%/$max_columns) * $desktop) + $margins;
    }
    
    
    
    
  } @else if $args == suffix {

    $style:margin-right;
    $final-margin: $margins;
    
    @include bp(desktop) {
      margin-right:((100%/$max_columns) * $desktop) + $margins;
    }
    @include bp(s-desktop) {
      margin-right:((100%/$max_columns) * $s-desktop) + $margins;
    }
    @include bp(laptop) {
      margin-right:((100%/$max_columns) * $laptop) + $margins;
    }
    @include bp(tablet) {
      margin-right:((100%/$max_columns) * $tablet) + $margins;
    }
    @include bp(mobile) {
      margin-right:((100%/$max_columns) * $mobile) + $margins;
    }

  } @else if $args == push {

    $style:right;
    $final-margin: $margins;
    position:relative;

    @include bp(mobile) {
      right:-((100%/$max_columns) * $mobile);
    }
    @include bp(tablet) {
      right:-((100%/$max_columns) * $tablet);
    }
    @include bp(laptop) {
      right:-((100%/$max_columns) * $laptop);
    }
    @include bp(s-desktop) {
      right:-((100%/$max_columns) * $s-desktop);
    }
    @include bp(desktop) {
      right:-((100%/$max_columns) * $desktop);
    }
    
  } @else if $args == pull {

    $style:left;
    $final-margin: $margins;
    position:relative;

    @include bp(mobile) {
      left:-((100%/$max_columns) * $mobile);
    }
    @include bp(tablet) {
      left:-((100%/$max_columns) * $tablet);
    }
    @include bp(laptop) {
      left:-((100%/$max_columns) * $laptop);
    }
    @include bp(s-desktop) {
      left:-((100%/$max_columns) * $s-desktop);
    }
     @include bp(desktop) {
      left:-((100%/$max_columns) * $desktop);
    }
  }
}

//
// Use SASS Maps to define breakpoints
//

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-fetch($value, $rest)
  } @else {
    @return $value;
  }
}

@mixin bp($breakpoint) {
//  if ($orientation != null) {
//    @media $orientation and
//  } else {
//    @media
//  }
    @media
    (min-width: map-fetch($bp-rules, $breakpoint min-width) ) //and
    //(max-width: map-fetch($bp-rules, $breakpoint max-width) )
  {
      @content;
  }
}

//
//  Standard Grid Stuff
//
.container {
  width:$max-width;
  margin:0 auto;
}
@media screen and (max-width: 960px) {
  .container {
    width:100% !important;
  }
}

.clearfix:before,.clearfix:after,.container_12:before,.container_12:after,.container:before,.container:after {content: '.';display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.clearfix:after,.container_12:after,.container:after {clear: both;}
.clearfix,.container_12,.container {zoom: 1;}
