$max_columns:12; //can be any number. better to go with 12, 16, 24
$margins:0; //In %, fixed margin will break the grid
$max-width:960px; // can be set to pixels or %

//BreakPoints

$max-breakpoints:3;
$bp-rules: (
    mobile: (
      min-width: 0em,
      //max-width: 30em,
    ),
    tablet: (
      //min-width: 30.1em,
      min-width: 48em,
    ),
    laptop: (
      min-width: 56.25em,
    ),
    s-desktop: (
      min-width: 68.75em,
    ),
    desktop: (
      min-width: 81.25em,
    ),
);
