.about-wrapper {
	.contact-bar {
                 max-width: 250px;
		.title {
			clear: both; 
	/*		text-align: left; */
        /*		font-weight: 200; */ 
	/*		font-size: 40px; */
         		margin-bottom: 30px; 
			margin-top: 21px;
		}
		address {
		    font-style: normal;
		    color:white;
		    font-size: 16px; 
		    line-height: 24px; 
		    padding-top: 14px; 
		    margin-top: -22px; 
		    font-weight: 300;
		}
		.map-it, .phone, .email {
			color: #80a9ae;
			display:block;
			margin:10px 0;
		}
		.phone {
			color:white;
			text-decoration: none;
		}
	}
	.cf-contact {
		color:white;

		.contact-form input, .contact-form textarea {
			background-color: #FFF;
			-moz-border-radius: 0px;
			border-radius: 0px;
			width: 200px;
		}


		div.wpcf7 .watermark {
			font-family: "brandon-grotesque", arial;
			color: #333;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 300;
		}

		.wpcf7-textarea {
			height:200px;
		}

		.contact-form input,
		.contact-form textarea {
			padding: 5px;
			font-family: "brandon-grotesque", arial;
			font-size: 16px;
			color: #333;
		}

		.contact-form input[type=submit] {
		    width: 87px;
		    padding: 11px 0;
		    text-transform: uppercase;
		    font-family: LatoLight, 'LatoLight', Times, sans-serif;
		    font-weight: 300;
		    color: #ffffff;
		    font-size: 12px;
		    line-height: 1.5em;
		    border: 1px solid #1b2a2c;
		    letter-spacing: 0.160em;
		    background: #274e54;
		    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1c393d), color-stop(1, #5b797d));
		    background: -ms-linear-gradient(bottom, #1c393d, #5b797d);
		    background: -moz-linear-gradient(center bottom, #1c393d 0%, #5b797d 100%);
		    margin-top: 13px;
		    height: 35px;
		}
		.contact-form input[type=submit] {
			background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #274d56), color-stop(1, #274d56));
		  	background: -ms-linear-gradient(bottom, #274d56, #274d56);
		  	background: -moz-linear-gradient(center bottom, #274d56 0%, #274d56 100%);
			width: 210px;
			padding: 5px;
			margin-top: -10px;
		}
		.contact-form p {
			font-size: 16px;
		}
	}
	.about-bar {
		.title {
	/*		color:white; */
			clear: both; 
	/*      	text-align: left; */
        /*		font-family: 'brandon-grotesque', arial; */
        /*		font-weight: 200; */
        /*		font-size: 70px;  */
			margin-bottom: 30px;
		}
		p {
			color:white;
			font-family: 'brandon-grotesque', arial; 
		}
	}
}
@include breakpoint(max-width 47.9em) {
	.about-wrapper {
		.contact-bar, .about-bar {
			max-width:60%;
			margin:0 20%;
		}
	}
}
@include breakpoint( 48em) {
      .about-wrapper {
        .contact-bar {
          max-width: 250px;
          .pageTitle {
            padding-right: 0;
          }
        }
        .about-bar {
          float: right;
         }
      }
}
