.director-wrapper {
    iframe {
        margin: 0 auto;
        display: block;
        clear: both;
    //    width: auto;
    //    text-align: center;
    //    width: 100%;
    //    max-width: 640px;
    //    height: 472px;
    //    max-height: 472px;
    }
    article {
        h2 {
            border-bottom: 0px;
            font-family: "brandon-grotesque", arial;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 300;
            color: #ffffff;
            font-size: 32px;
            line-height: 1.5em;
            height:100px;
            text-align:center;
        }
    }
    .director-switcher {
        //float:left;
        float:none;
    }
    .entry.work {
        .director-work {
            display:block;
            clear:both;
        }
        .director-bio {
            display:none;
        }
    }
    .entry.bio {
        .director-work {
            display:none;
        }
        .director-bio {
            display:block;
            color:white;
            clear:both;
             font-family: "brandon-grotesque", arial;
            font-size: 19px;
            line-height: 30px;
            font-weight: 300;
            width:80%;
            margin:0 auto;
        }
    }
    .galleryContainer {
        .gridSingle {
            position:relative;
            margin:0 auto;
            margin-bottom:20px;
            #directorOverlay {
                position: absolute;
                top: 40%;
                left: 0px;
                width:80%;
                margin:0 10%;
                text-align: center;
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
                color:white;
            }
            .directorThumbs {
                margin:0 auto;
                width:80%;
                display:block;
                max-width:295px;
            }
        }
    }
    .galleryContainer.closed {
        display:none;
    }
}
.director-switcher li.on {
    border: 2px solid white;
    background-color: transparent;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    font-weight: 400;
    color: #FFF;
}
.director-switcher li.on {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    //background-color: #c2fffa;
}
.director-switcher li {
    font-weight: 400;
}
.director-switcher li {
    font-family: "brandon-grotesque", arial;
    font-weight: 700;
}
.director-switcher li {
    display: inline;
    padding-left: 10px;
    text-decoration: none;
    //font-family: LatoLight, 'LatoLight', Times, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase;
    padding: 8px 5px;
    cursor: pointer;
}
@include breakpoint($tablet) {
    .director-wrapper {
        .close-modal {
            display:none;
        }
        .director-switcher {
            position:absolute;
            margin-top:40px;
        }
        article {
            h2 {
                float:right;
                padding-right:30px;
            }
        }
         .entry.bio {
            .director-bio {
                width:100%;
            }
        }
        .galleryContainer {
            .gridSingle {
                .directorThumbs {
                    width:100%;
                }
            }
        }
    }
    .alignleft {
        float:left;
        margin: 6px 40px 20px 25px;
    }
}
#theLink {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
#theLink iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
@include breakpoint(max-width 47.9em) {
    .video-wrapper,#videoWrapper {
        display:none;
    }
    .video-wrapper,#videoWrapper {
        &.visible {
            display: block;
            position: fixed;
            height: auto;
            width: 100%;
            margin: 0;
            padding: 50% 0;
            top: 0;
            margin-top: -25%;
            z-index: 100;
            background: black;
            .close-modal, .close-modal-genre {
                float: right;
                display: block;
                padding: 5px;
                color: white;
                font-weight: bold;
                margin-bottom: 30px;
            }
            #theVideo, #videoPlayer {
                display:block;
                clear:both;
                pre {
                    margin:0;
                }
            }
        }
    }  
}
@include breakpoint($mobile-only-landscape) {
    .video-wrapper,#video-wrapper {
        &.visible { 
            padding:0 10% 200px 10%;
            margin-top:0;
            width:80%;
        }
    }
}