.genres-wrapper {
    iframe {
        margin: 0 auto;
        display: block;
        clear: both;
    //    width: auto;
        text-align: center;
    //    width: 100%;
    //    max-width: 640px;
    //    height: 472px;
    //    max-height: 472px;
    }
    p {
        color:white;
    }
/*    .pageTitle {
        font-family: "brandon-grotesque", arial;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 32px;
        color:white;
        float:right;
        padding-top: 20px;
        padding-right: 26px;
    }
/**/
    .galleryContainer {
        text-align: center;
        font-size: 0; // so that inline-block won't have whitespace margins
        .gallerySingle {
            &[onclick] {
                cursor: pointer;
            }
            float: none;
            display: inline-block;
            position:relative;
            margin:0 auto;
            margin-bottom:20px;
            #directorOverlay2 {
                position: absolute;
                top: 40%;
                left: 0px;
                width:80%;
                margin:0 10%;
                text-align: center;
                font-size: 32px;
                font-weight: 700;
                text-transform: uppercase;
                color:white;
            }
            .directorThumbs2 {
                margin:0 auto; 
                width:80%;
                display:block;
                max-width:295px;
            }
        }
    }
}
.alignleft {
    float:left;
    margin: 6px 40px 20px 25px;
}
@include breakpoint($tablet) {
    .genres-wrapper {
        .galleryContainer {
                clear: both;
            /*margin-top: 100px;*/
            display: block !important;

            .gallerySingle {
                .directorThumbs2 {
                    width:100%;
                }
            }
        }
    }
    .close-modal-genre {
        display:none;
    }
}

/* Video player */
/* 2018-03-26 - Scott */
#videoPlayer {
 p {
  display: none;
 }
 .visible & {
  margin-bottom: 20px;
 }
}
