header {
  font-size: 0;
  box-sizing: border-box;
  padding: 0 20px;

  .header-row-left,
  .header-row-right {
    display: inline-block;
    vertical-align: bottom;
  }
  .header-row-left {
    width: 30%;
    @include breakpoint(max-width 800px) {
      width: 100%;
      text-align: center;
    }
  }
  .header-row-right {
    width: 70%;
    @include breakpoint(max-width 800px) {
      width: 100%;
      text-align: center;
    }
  }
  .fizz-logo {
    padding-bottom: 7px;
    display: inline-block;
    @include breakpoint(max-width 800px) {
      padding-left: 25px;
      padding-top: 20px;
      box-sizing: border-box;
      text-align: center;
    }
    img {
      max-width: 225px;
      width: 100%;
    }
  }
  .social-nav {
    margin: 0;
    text-align: right;

    @include breakpoint(max-width 800px) {
      margin: 20px auto;
      width: 100%;
      text-align: center;
    }

    ul {
      text-align: center;
    }
  }
  .main-nav {
      text-align: right;

    @include breakpoint(max-width 800px) {
      text-align: center;
    }

    li {
      border-right:1px solid #124d48;
      height:40px;
      display: inline-block;
      text-align: center;
      list-style: none;

      @include breakpoint(max-width 800px) {
        text-align: center;
      }

      @include breakpoint(max-width 530px) {
        border-right: none;
      }

      a {
        font-family: "brandon-grotesque", arial;
        font-weight: 400;
        padding: 10px;
        font-size: 15px;
        line-height:40px;
        color:white;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:last-child {
        border:none;
        a {
          padding-right: 0;
        }
      }
      }
  }
}
@include breakpoint($tablet) {
  header {
    .fizz-logo {
      img {
        margin:0;
        max-width: 225px;
        width: 100%;
      }
    }
    margin-top:30px;
    .right-align {
      margin-right:20px;
    }
    .social-nav {
    }
    .main-nav {
      clear:both;
      li {
        border-right:1px solid #124d48;
        display: inline-block;
        height:40px;
        list-style:none;

        @include breakpoint(max-width 530px) {
          border-right: none;
        }

          a {
            font-family: "brandon-grotesque", arial;
            font-weight: 400;
            padding: 10px;
            font-size: 15px;
            line-height:40px;
            color:white;
            text-decoration: none;
        }
        &:last-child {
          border:none;
        }
        }
    }
  }
}
