.home-wrapper.container {
    padding-top: 40px;
    text-align: center;
}

.home-featured {
    float: none;
    display: inline-block;
	position:relative;
	margin:0 auto;
	margin-bottom:20px;
	img  {
		display:block;
		margin:0 auto;
	}
	.thumbNailText {
		position: absolute;
	    top: 75px;
	    left: 0px;
	    width:100%;
	    text-align: center;
	    font-size: 32px;
	    font-weight: 700;
	    text-transform: uppercase;
		a {
			text-transform: uppercase;
			color:white;
			text-decoration: none;
		}
	}
}
.home-footer {
	display:none;
}
.copyright small {
	display:none;
}
@include breakpoint($tablet) {
	.home-featured {
		//float:left;
	}
}
